<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h3>
        <%= title %>
    </h3>
    <hr />
    <% if (userName) { %>
        <h3>
            <%= userName %> is logged in</h3>
        <form name="logout" method="POST" action="/logout">
            <div>
                <button type="submit">logout</button>
            </div>
        </form>
        <% } else { %>
            <div>
                <a href="/signup">Sign up</a>
            </div>
            <div>
                <a href="/login">Log in</a>
            </div>
            <% } %>


</body>

</html>